/* estilos.css */

/* Estilo del cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* color de fondo */
    margin: 0;
    padding: 0;
  }
  
  /* Estilo para el título principal */
  h1 {
    color: #333; /* color del texto */
    text-align: center; /* alinear al centro */
  }
  
  /* Estilo para los enlaces */
  a {
    color: #007bff; /* color de los enlaces */
    text-decoration: none; /* quitar subrayado */
  }
  
  a:hover {
    text-decoration: underline; /* subrayado al pasar el ratón */
  }
  /* Estilo para los botones */
button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  /* letras callendo */
  body {
    background-color: black;
    color: yellow;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
  }
  
  #textocallendo {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .crawl {
    transform: perspective(1200px) rotateX(20deg);
    position: relative;
    top: 50%;
    transform-origin: 50% 100%;
    animation: crawl-animation 60s linear forwards;
  }
  
  .title, .subtitle, .opening {
    text-align: center;
  }
  
  .title {
    font-size: 3em;
    margin: 0;
  }
  
  .subtitle {
    font-size: 2em;
    margin: 0;
  }
  
  .opening {
    font-size: 1.5em;
    margin: 0;
  }
  
  @keyframes crawl-animation {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(-300%);
    }
  }
  
  